<%- include('./partials/header'); -%>

<h1>Home</h1>
<p><%=homeScreenContant.substring(0,100)+" ... " %></p>

<% posts.forEach(element => { %>
<h1><%=element.pTitle%></h1>
<p><%=element.pBodyText.substring(0,100)+" ... "%>
    <a href="/posts/<%= element.pTitle%>">Read More</a>
</p>
<% }) %>


<%- include('./partials/footer'); -%>
